<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <title>Мини-почта</title>
  </head>

  <body>
    <div class="d-flex flex-column bg-light min-vh-100">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand mx-auto" href="/">📨 Мини-почта 📨</a>
        </div>
      </nav>

      <main class="container flex-fill my-3">
        <form class="card border-secondary mb-3" data-test="send-form" method="post" action="/message">
          <fieldset>
            <legend class="card-header h5 border-secondary bg-dark text-light">📩 Отправить письмо</legend>
            <div class="card-body">
              {% if errors is not none and errors|length > 1%}
              <div class="mb-3" data-test="send-alert">
                {% for e in errors %}
                <div class="alert alert-danger">{{ e }}</div>
                {% endfor %}
              </div>
              {% elif errors is not none %}
              <div class="mb-3" data-test="send-alert">
                <div class="alert alert-success">Сообщение отправлено</div>
              </div>
              {% endif %}
              <!--<div class="mb-3" data-test="send-alert">-->
              <!--  <div class="alert alert-warning">Загрузка...</div>-->
              <!--</div>-->
              <!--<div class="mb-3" data-test="send-alert">-->
              <!--  <div class="alert alert-success">Сообщение отправлено</div>-->
              <!--</div>-->
              <div class="mb-3">
                <label for="sender" class="form-label">От кого:</label>
                <input id="sender" name="author" class="form-control" type="text" placeholder="Имя отправителя" />
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Сообщение:</label>
                <textarea id="message" name="message" class="form-control" placeholder="Текст сообщения"></textarea>
              </div>
              <div class="d-flex">
                <button class="btn btn-outline-success ms-auto">✏️ Отправить</button>
              </div>
            </div>
          </fieldset>
        </form>

        <ul class="list-unstyled">
          {% for msg in messages %}
          <li class="mb-3">
            <article class="card" data-test="message">
              <div class="card-body">
                <header class="card-title d-flex">
                  <div class="text-muted" data-test="message-author">{{ msg["author"] }}</div>
                  <a href="/message/{{ msg['id'] }}" class="card-link ms-auto" data-test="message-open">Открыть ↗️</a>
                </header>
                <div class="card-text" data-test="message-text">
                  {{ msg['msg']}}
                </div>
                <div class="d-flex">
                  <form class="ms-auto" data-test="message-clap-form" method="post" action="/message/{{ msg['id'] }}/claps">
                    <button class="btn">👏🏻 <span data-test="clap-count">{{ msg['claps'] }}</span></button>
                  </form>
                </div>
              </div>
            </article>
          </li>
          {% endfor %}
        </ul>
      </main>

      <footer class="bg-dark text-light py-3">
        <div class="container text-center">
          Лабораторная работа по курсу Web-программирования. Выполнено студентом Еленский Михаил ПМИ-3
        </div>
      </footer>
    </div>
  </body>
</html>
