<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <title>Мини-почта</title>
  </head>

  <body>
    <div class="d-flex flex-column bg-light min-vh-100">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand mx-auto" href="/">📨 Мини-почта 📨</a>
        </div>
      </nav>

      <main class="container flex-fill my-3">
        <article class="card" data-test="message">
          <div class="card-body">
            <header class="card-title d-flex">
              <div class="text-muted" data-test="message-author">{{ message['author'] }}</div>
            </header>
            <div class="card-text" data-test="message-text">
              {{ message['msg'] }}
            </div>
            <div class="d-flex">
              <form class="ms-auto" data-test="message-clap-form" method="post" action="/message/{{ message['id'] }}/claps">
                <button class="btn">👏🏻 <span data-test="clap-count">{{ message['claps'] }}</span></button>
              </form>
            </div>
          </div>
        </article>
      </main>

      <footer class="bg-dark text-light py-3">
        <div class="container text-center">
          Лабораторная работа по курсу Web-программирования. Выполнено студентом Еленский Михаил ПМИ-3
        </div>
      </footer>
    </div>
  </body>
</html>
