<template>
  <form class="ms-auto" data-test="message-clap-form" @submit.prevent="clap">
    <button class="btn" :disabled="disabled">
      👏🏻 <span data-test="clap-count">{{ claps }}</span>
    </button>
  </form>
</template>

<script>
export default {
  name: "ClapButton",

  data() {
    return {
      disabled: false,
    };
  },

  props: {
    id: Number,
    claps: Number,
  },
  methods: {
    clap,
  },
};

function clap() {
  let req = new XMLHttpRequest();
  let self = this;

  req.open("POST", `http://localhost:5050/message/${self.id}/claps`, true);
  req.setRequestHeader("Content-Type", "application/json");
  req.responseType = "json";

  req.onload = function () {
    if (req.readyState === XMLHttpRequest.DONE) {
      self.disabled = false;

      if (req.status === 200) {
        self.$emit("clapSucceeded", req.response.claps);
      } else {
        self.$emit("clapFailed", req.response);
      }
    }
  };

  self.disabled = true;
  req.send();
}
</script>

<style scoped></style>
