<template>
  <footer class="bg-dark text-light py-3">
    <div class="container text-center">
      Лабораторная работа по курсу Web-программирования. Выполнено студентом
      Еленский Михаил ПМИ-3
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style scoped></style>
