<template>
  <div class="mb-3" data-test="send-alert" v-if="message !== ''">
    <div :class="infoClass">{{ message }}</div>
  </div>
</template>

<script>
export default {
  name: "Info",
  data() {
    return {
      infoClass: "",
      message: "",
    };
  },
  methods: {
    setInfo,
  },
};

function setInfo(msg, msgClass) {
  this.message = msg;
  this.infoClass = msgClass;
}
</script>

<style scoped></style>
