<template>
  <div class="d-flex flex-column bg-light min-vh-100">
    <Navbar />
    <main class="container flex-fill my-3">
      <MessageForm @postAdded="onPostAdded" />
      <MessageList ref="messageList" />
    </main>
  </div>
  <Footer />
</template>

<script>
import MessageForm from "@/components/MessageForm";
import MessageList from "@/components/MessageList";
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer";

export default {
  name: "MainPage",
  components: { Footer, MessageForm, MessageList, Navbar },
  methods: { onPostAdded },
};

function onPostAdded(post) {
  this.$refs.messageList.addPost(post);
}
</script>

<style scoped></style>
