<template>
  <article class="card" data-test="message">
    <div class="card-body">
      <header class="card-title d-flex">
        <div class="text-muted" data-test="message-author">
          {{ author }}
        </div>
        <router-link
          :to="`/message/${id}`"
          class="card-link ms-auto"
          data-test="message-open"
          >Открыть ↗️</router-link
        >
      </header>
      <div class="card-text" data-test="message-text">
        {{ msg }}
      </div>

      <div class="d-flex">
        <ClapButton :id="id" :claps="claps" @clapSucceeded="clapSucceeded" />
      </div>
    </div>
  </article>
</template>

<script>
import ClapButton from "@/components/ClapButton";

export default {
  name: "Message",
  components: { ClapButton },
  props: {
    id: Number,
    author: String,
    msg: String,
    claps: Number,
    listIndex: Number,
  },
  methods: {
    clapSucceeded,
  },
};

function clapSucceeded(value) {
  console.log(`Succeeded with clap, new value is ${value}`);
  this.$emit("clapsUpdated", value, this.listIndex);
}
</script>

<style scoped></style>
