<template>
  <ul class="list-unstyled" id="message-list">
    <li class="mb-3">
      <Message
        v-for="(msg, index) in list"
        :key="msg.id"
        v-bind="msg"
        :list-index="index"
        @clapsUpdated="updateItemClaps"
      />
    </li>
  </ul>
</template>

<script>
import Message from "./Message.vue";

export default {
  name: "MessageList",
  components: {
    Message,
  },
  data() {
    return {
      list: [],
    };
  },
  mounted: refreshContents,
  methods: {
    updateItemClaps,
    addPost,
  },
};

function refreshContents() {
  let self = this;
  let xhr = new XMLHttpRequest();

  xhr.open("GET", "http://localhost:5050/messages", true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.responseType = "json";

  xhr.onload = function () {
    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
      self.list = xhr.response;
    }
  };

  xhr.send();
}

function updateItemClaps(value, index) {
  this.list[index].claps = value;
  resortList(this.list);
}

function addPost(post) {
  post.msg = post.message;
  this.list.push(post);
}

function resortList(list) {
  list.sort(function (a, b) {
    if (a.claps > b.claps) {
      return -1;
    }
    if (a.claps < b.claps) {
      return 1;
    }

    return 0;
  });
}
</script>
<style scoped></style>
