<template>
  <form
    id="msg-form"
    class="card border-secondary mb-3"
    data-test="send-form"
    @submit.prevent="validateOnSubmit"
  >
    <fieldset>
      <legend class="card-header h5 border-secondary bg-dark text-light">
        📩 Отправить письмо
      </legend>
      <div class="card-body" id="msg-alert">
        <Info ref="infoCard" />
        <div class="mb-3">
          <label for="sender" class="form-label">От кого:</label>
          <input
            id="sender"
            name="author"
            class="form-control"
            type="text"
            v-model="author"
            placeholder="Имя отправителя"
          />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Сообщение:</label>
          <textarea
            id="message"
            name="message"
            v-model="message"
            class="form-control"
            placeholder="Текст сообщения"
          ></textarea>
        </div>
        <div class="d-flex">
          <button
            class="btn btn-outline-success ms-auto"
            id="submit-btn"
            :disabled="buttonDisabled"
          >
            ✏️ Отправить
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</template>

<script>
import Info from "@/components/Info";

export default {
  name: "MessageForm",
  data() {
    return {
      author: "",
      message: "",
      buttonDisabled: false,
      info: "",
      infoClass: "alert alert-success",
    };
  },
  components: {
    Info,
  },
  methods: {
    validateOnSubmit,
  },
};

function validateOnSubmit() {
  let self = this;
  if (this.author.length === 0) {
    this.$refs.infoCard.setInfo("Укажите автора", "alert alert-danger");
    return;
  } else if (this.author.length > 30) {
    this.$refs.infoCard.setInfo(
      "Имя автора не должно быть больше 30 символов",
      "alert alert-danger"
    );
    return;
  }

  if (this.message.length === 0) {
    this.$refs.infoCard.setInfo("Укажите сообщение", "alert alert-danger");
    return;
  } else if (this.message.length > 1000) {
    this.$refs.infoCard.setInfo(
      "Текст сообщения не должен превышать 1000 символов",
      "alert alert-danger"
    );
    return;
  }

  let req = new XMLHttpRequest();

  req.open("POST", "http://localhost:5050/messages", true);
  req.setRequestHeader("Content-Type", "application/json");
  req.responseType = "json";

  req.onload = function () {
    if (req.readyState === XMLHttpRequest.DONE) {
      if (req.status === 201) {
        self.$refs.infoCard.setInfo(
          "Сообщение добавлено",
          "alert alert-success"
        );
        self.$emit("postAdded", req.response);
      } else {
        self.$refs.infoCard.setInfo(
          `Отправка не удалась: ${req.response}`,
          "alert alert-danger"
        );
        // Error handling
      }
    }
  };

  self.$refs.infoCard.setInfo("Отправляем сообщение…", "alert alert-warning");
  req.send(JSON.stringify({ author: this.author, message: this.message }));
}
</script>

<style scoped></style>
