<template>
  <Navbar />
  <main class="container flex-fill my-3">
    <Info ref="infoCard" />
    <Message
      :id="id"
      :author="author"
      :msg="message"
      :claps="claps"
      :hidden="hidden"
      @clapsUpdated="onButtonClick"
    />
  </main>
  <Footer />
</template>

<script>
import Message from "@/components/Message";
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer";
import Info from "@/components/Info";

export default {
  name: "MessagePage",
  components: { Info, Footer, Message, Navbar },

  data() {
    return {
      id: parseInt(this.$route.params.id),
      author: "",
      message: "",
      claps: 0,
      hidden: true,
    };
  },
  mounted: getMessage,
  methods: {
    onButtonClick,
  },
};

function getMessage() {
  let self = this;
  let xhr = new XMLHttpRequest();

  xhr.open("GET", `http://localhost:5050/message/${self.id}`, true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.responseType = "json";

  xhr.onload = function () {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      if (xhr.status === 200) {
        self.author = xhr.response.author;
        self.message = xhr.response.msg;
        self.id = xhr.response.id;
        self.claps = xhr.response.claps;
        self.hidden = false;
      } else if (xhr.status === 404) {
        self.$router.push("/not_found");
      }
    }
  };

  xhr.send();
}

function onButtonClick(value) {
  this.claps = value;
}
</script>

<style scoped></style>
