<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <router-link class="navbar-brand mx-auto" to="/"
        >📨 Мини-почта 📨</router-link
      >
    </div>
  </nav>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style scoped></style>
