<template>
  <Navbar />
  <main class="container flex-fill my-3">
    <article class="card" data-test="message">
      <div class="card-body" id="msg-card-body">
        <div class="card-text" data-test="message-text" id="msg-body">
          Не найдено :(
        </div>
      </div>
    </article>
  </main>
  <Footer />
</template>

<script>
import Footer from "@/components/Footer";
import Navbar from "@/components/Navbar";

export default {
  name: "NotFound",
  components: { Footer, Navbar },
};
</script>

<style scoped></style>
